{% extends 'base.html' %} {% block title %}Statistics{% endblock %} {% block content %}
<h1>Statistics</h1>

<div class='container'>
    <div class='card'>
        <h3>Statistics</h3>
        <p>Here, you can view the amount of questions in each category.</p>
    </div>
    <div class='card'>
        <h3>Total</h3>
        <p>Currently there are {{total}} total questions on QAPI.</p>
    </div>
</div>

<h2>Topics</h2>
<div class='container'>
	<div class='card'>
		<h3>Entertainment</h3>
		<p>Currently there are {{entertainment}} entertainment questions.</p>
    </div>
	<div class='card'>
		<h3>Geography</h3>
		<p>Currently there are {{geography}} geography questions.</p>
	</div>
	<div class='card'>
		<h3>History</h3>
		<p>Currently there are {{history}} history questions.</p>
	</div>
	<div class='card'>
		<h3>Leisure</h3>
		<p>Currently there are {{leisure}} leisure questions.</p>
	</div>
	<div class='card'>
		<h3>Science</h3>
		<p>Currently there are {{science}} science questions.</p>
	</div>
	<div class='card'>
		<h3>Technology</h3>
		<p>Currently there are {{technology}} technology questions.</p>
	</div>
</div>
<h2>Types</h2>
<div class='container'>
	<div class='card'>
		<h3>Memory</h3>
		<p>Currently there are {{memory}} memory questions.</p>
    </div>
	<div class='card'>
		<h3>Multiple choice</h3>
		<p>Currently there are {{multi}} multiple choice questions.</p>
	</div>
	<div class='card'>
		<h3>Number</h3>
		<p>Currently there are {{number}} number questions.</p>
	</div>
	<div class='card'>
		<h3>True or False</h3>
		<p>Currently there are {{true_or_false}} true or false questions.</p>
	</div>
</div>

<a class='button' href='/'>Home</a>

{% endblock %}